@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: rgb(255, 255, 255);
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
p,
a,
button {
    font-family: Inter;
    color: rgb(0, 0, 0);
}

.container {
    max-width: 1174px;
    margin: 0 auto;
}

.header {
    padding-top: 40px;
    margin-bottom: 84px;
    font-weight: 600;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation_header_menu {
    display: flex;
    width: 577px;
    justify-content: space-between;
}

.navigation a {
    font-size: 14px;
}

.home {
    color: rgb(242, 88, 34);
    font-size: 14px;
}

.mainContent {
    display: flex;
    gap: 73px;
    padding-bottom: 100px;
}

.mainContent__leftSide {
    max-width: 556px;
}

.mainContent__leftSide h1 {
    font-size: 60px;
    line-height: 120%;
    margin-bottom: 20px;
    font-weight: 700;
}

.mainContent__leftSide p {
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn {
    display: flex;
    gap: 48px;
}

.btn_left {
    padding: 16px 32px;
    color: rgb(256, 255, 255);
    border-radius: 56px;
    background: rgb(242, 88, 34);
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn_right {
    background: none;
    border: none;
    color: rgb(170, 170, 170);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.cardlist {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.card {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: last baseline;
    text-align-last: left;
}

.box-shadow {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.card h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.card p {
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.card a {
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
}

.cards {
    background: rgb(250, 250, 250);
    padding-top: 100px;
    padding-bottom: 100px;
}

.cards2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card2 {
    background: rgb(255, 255, 255);
    padding: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card2 h2 {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.card2 p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.card2 button {
    margin-top: 24px;
    border-radius: 56px;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
    background: rgb(242, 88, 34);
    padding: 16px 32px;
    color: white;
    border: none;
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title h2 {
    margin-bottom: 24px;
}

.title p {
    margin-bottom: 48px;
}

.shadow {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}